USE [master]
GO
/****** Objeto: Database [universidad] Fecha de script: 1/05/2026 17:12:30 ******/
CREATE DATABASE [universidad]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'universidad', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\universidad.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'universidad_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\universidad_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [universidad].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [universidad]
GO
/****** Objeto: Table [dbo].[alumnos] Fecha de script: 1/05/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos](
	[idAlumno] [int] IDENTITY(1,1) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[apellidos] [varchar](255) NOT NULL,
	[carnet] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[alumnos_cursos] Fecha de script: 1/05/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos_cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAlumno] [int] NOT NULL,
	[idCurso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[alumnos_seccion] Fecha de script: 1/05/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[alumnos_seccion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idAlumno] [int] NOT NULL,
	[idSeccion] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Alumno] UNIQUE NONCLUSTERED 
(
	[idAlumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cursos] Fecha de script: 1/05/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cursos](
	[idCurso] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[codigo] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[secciones] Fecha de script: 1/05/2026 17:12:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[secciones](
	[idSeccion] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[jornada] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idSeccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[alumnos_cursos]  WITH CHECK ADD  CONSTRAINT [FK_AC_Alumnos] FOREIGN KEY([idAlumno])
REFERENCES [dbo].[alumnos] ([idAlumno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[alumnos_cursos] CHECK CONSTRAINT [FK_AC_Alumnos]
GO
ALTER TABLE [dbo].[alumnos_cursos]  WITH CHECK ADD  CONSTRAINT [FK_AC_Cursos] FOREIGN KEY([idCurso])
REFERENCES [dbo].[cursos] ([idCurso])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[alumnos_cursos] CHECK CONSTRAINT [FK_AC_Cursos]
GO
ALTER TABLE [dbo].[alumnos_seccion]  WITH CHECK ADD  CONSTRAINT [FK_AS_Alumnos] FOREIGN KEY([idAlumno])
REFERENCES [dbo].[alumnos] ([idAlumno])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[alumnos_seccion] CHECK CONSTRAINT [FK_AS_Alumnos]
GO
ALTER TABLE [dbo].[alumnos_seccion]  WITH CHECK ADD  CONSTRAINT [FK_AS_Seccion] FOREIGN KEY([idSeccion])
REFERENCES [dbo].[secciones] ([idSeccion])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[alumnos_seccion] CHECK CONSTRAINT [FK_AS_Seccion]
GO
USE [master]
GO
